@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Stoke:wght@300&display=swap');

:root{
    --cor1:#C384FA;
    --cor2:#9076DE;
    --cor3:#8E90F5;
    --cor4:#7693DE;
    --cor5:#84C5FA;
}

body{
    font-family: "Stoke", sans-serif;
    margin: 0px;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(225, 251, 251);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-left{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-left h1{
    color: var(--cor2);
    padding-bottom: 50px;
    margin: 0%;
    font-size: 2.5em;
    padding-left: 30px;
}

.login-right{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    width: 50%;
    height: 50%;
    padding: 20px 20px;
    background-color: var(--cor4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.519);
}

.card:hover{
    box-shadow: 0px 0px 15px var(--cor2);
}

.card h1{
    margin: 0%;
    color: var(--cor2);
    font-size: 3vw;
    
}

.imagem{
    border-radius: 10px;
   width: 40vw;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.textfield input{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 8px;
    outline: none;
    box-shadow: 0px 0px 15px var(--cor2);
    box-sizing: border-box;
}

label{
    color: var(--cor5);
    padding:5px;
    margin-bottom: 5px;
}

.textfield input::placeholder{
    color: var(--cor1);
}

.btn{
    width: 100%;
    margin: 25px;
    padding: 16px 0px;
    background-color: var(--cor2);
    border: none;
    border-radius: 5px;
    color: var(--cor5);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 15px var(--cor5);
    
}
.btn:hover{
    background-color:var(--cor2);
    color: var(--cor1);
}